# OS Shit
Thumbs.db
Desktop.ini
.DS_Store

# Vagrant Shit
.vagrant

# Sublime Shit
*.sublime-*

# Dependency Directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules

# Config File
config.json

# Music Folder
/music
