# OS Shit
Thumbs.db
Desktop.ini
.DS_Store

# Sublime Shit
*.sublime-*

# Dependency Directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules

# Config File
config.json

# Image Folders
/pitur
/cosplay

# Music Folder
/music

# Logs
/logs
*.log
