# OS Shit
Thumbs.db
Desktop.ini
.DS_Store

# Dependency Directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules

# Image Folders
pitur/
cosplay/

# Music Folder
music/

# Logs
*.log
