{
	"email" : "bot@email.com",
	"password" : "password",
	"commands" : {
		"prefix" : "!",
		"masterUser" : "MasterUUID"
	},
	"redis" : {
		"host" : "localhost",
		"port" : 6379
	},
	"invites" : [
		"https://discord.gg/0Lv5NLFEoz3P07Aq"
	]
}