{
	"email" : "bot@email.com",
	"password" : "password",
	"server" : "InviteCode",
	"commands" : {
		"prefix" : "!",
		"masterUser" : "MasterUserID"
	},
	"redis" : {
		"host" : "localhost",
		"port" : 6379
	}
}